.navbar {
    background-color: #1e3a58;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  
  .navbar-logo {
    color: #f4c542;
    font-size: 1.7em;
    margin-left: 10px;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
  }
  
  .navbar-links a:hover {
    color: #f4c542;
  }

  .navbar-slogan {
    font-style: italic;
    font-size: 0.8em;
    color: #f4c542;
    margin-left: 10px;

  }
  